@import "macchiato.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
	background-color: rgba(24, 25, 38, 0.5);
	color: @text;
  transition-property: background-color;
  transition-duration: 0.1s;
}

#workspaces {
	margin-left: 1em;
	padding: 0em 0.5rem 0em 0.5rem;
	background-color: @surface0;
  border-radius: 1rem;
	opacity: 1.0;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem;
	border-width: 0;
}

#workspaces button.active {
  color: @sapphire;
}

#workspaces button:hover {
  color: @sky;
	font-weight: bold;
}

#workspaces button.urgent {
	background-color: @red;
}

#window {
	margin-left: 1em;
	padding: 0em 1rem 0em 1rem;
	background-color: @surface0;
  border-radius: 1rem;
	opacity: 1.0;
	color: @sapphire;
}

#tray {
	background-color: @surface0;
	border-radius: 0.5em;
	padding: 2px 0.75rem 0 0.75rem;
	margin-right: 1rem;
}

#keyboard-state {
	background-color: @surface0;
	border-radius: 0.5em;
	padding: 0 0.75rem 0 0.75rem;
	margin-right: 1rem;
}

#keyboard-state label.numlock { 
	color: @mauve;
}

#keyboard-state label.capslock { 
	color: @maroon;
	margin-right: 1rem;
}

#network {
	background-color: @surface0;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0.25rem 0.5rem 0 0.75rem;
	color: @teal;
	min-width: 15rem;
}

#pulseaudio {
	background-color: @surface0;
	/* border-radius: 0.5em 0 0 0.5em; */
	padding: 0 0.5rem 0 0.75rem;
	color: @sky;
}

#clock {
	background-color: @surface0;
	border-radius:  0 0.5rem 0.5rem 0;
	padding: 0 0.75rem 0 0.75rem;
	margin-right: 1rem;
	color: @peach;
}


#custom-notification {
	background-color: @surface0;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0 0.5rem 0 0.75rem;
	color: @lavender;
}

#custom-power {
	background-color: @surface0;
	border-radius:  0 0.5rem 0.5rem 0;
	padding: 0 1rem 0 0.75rem;
	margin-right: 1rem;
	color: @lavender;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
